@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin container {
  margin: 0 auto;
  padding: 0 4rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 0 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 0 1rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 0 1rem;
  }
}

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin btn-reset {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }
}

@mixin hover {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
    opacity: 0.7;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fadeIn($direction: false, $duration: 0.5s, $timing-function: ease-in-out) {
  @if $direction == down {
    animation: FadeIn $duration $timing-function, TranslateDown $duration $timing-function;
  } @else if $direction == left {
    animation: FadeIn $duration $timing-function, TranslateLeft $duration $timing-function;
  } @else if $direction == right {
    animation: FadeIn $duration $timing-function, TranslateRight $duration $timing-function;
  } @else if $direction == up {
    animation: FadeIn $duration $timing-function, TranslateUp $duration $timing-function;
  } @else {
    animation: FadeIn $duration $timing-function;
  }


}

@mixin square($size, $radius: 0) {
  width: $size;
  height: $size;

  @if $radius != 0 {
    border-radius: $radius;
  }
}

